    

    /* TsiYou Header */

    .header {

        overflow: hidden;
        background-color: #ffffff;
        padding: 20px 10px;
        padding-left: 70px;
        z-index: 1;
        
       
    }

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px; 
        line-height: 25px;
        border-radius: 4px;
      }

      .header a:hover {
        color: #ea5422;
      }

      .header-right {
        float: right;
        padding-right: 30px;
        padding-top: 5px;
      }


      .content {
        padding: 16px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 102px;
      }

      /* Footer*/
      .tsiyou-footer{

        background-color: rgb(14, 14, 14);
        padding: 5px
      }

      .tsiyou-footer p{
          color: white;
          padding-top: 7px;
      }
      /*  */

      .tsiyou-landing{
        background-image: url("bg2.png");
        width: 1583px;
        min-height: 700px;
        max-height: auto;
        text-align: center;
        width:100%;
        margin:0 auto;
      }

      .tsiyou-landing p {
        position: relative;
        top: 300px;
        color: white;
        font-size: 18px;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 100;
      }


      .btn-tsiyou{
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        background-color: #ea5422;
        position: relative;
        top: 300px;
        color: white;
        font-family: 'Libre Franklin', sans-serif;
        margin:0 auto;
      }

   
      /* Titulos*/

      .tsiyou-title{
          padding-top: 110px;
          font-family: 'Libre Franklin', sans-serif;
          font-weight: 700;
          font-size: 50px;
      }


      /* Padding*/

      .tsipb{
          padding-bottom: 130px;
      }

  